%h1 Welcome!

%a{ :href => "https://idp.hector.dev.cloudpipeline.digital/oauth/authorize?client_id=idp_uaa_oidc_client&response_type=code&redirect_uri=https%3A%2F%2Flogin.hector.dev.cloudpipeline.digital%2Flogin%2Fcallback%2Fidp-uaa&scope=openid&nonce=#{@nonce}"} Click to login
